{% extends 'base.html' %}

{% block title %}Create an Account{% endblock %}

{% block content %}
  <form method="POST">
    {% csrf_token %}
        <div class="form-label">
             <label for="{{ form.username.id_for_label }}">Username:</label>
               {{ form.username }}
        </div>
        <div class="form-label">
             <label for="{{ form.email.id_for_label }}">Email:</label>
               {{ form.email}}
        </div>
        <div class="form-label">
             <label for="{{ form.password1.id_for_label }}">Password:</label>
               {{ form.password1 }}
        </div>
        <div class="form-label">
             <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
               {{ form.password2 }}
        </div>
          <div class="form-label">
               <button type="submit" class="button">Register</button>
          </div>
  </form>
  <div class="form-label">
    <p>have an account already? <a href="/login/">Login here</a></p>
</div>
{% endblock %}