{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{{user.username }}\'s Blog{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <div class="navbar nav-links">
        <a href="/">Home</a>
        {% if user.is_authenticated %}
            <a href="/profile/">{{ user.username }}</a>
            <a href="/logout/">Logout</a>
        {% else %}
            <a href="/login/">Login</a>
            <a href="/register/">Register</a>
        {% endif %}
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>